* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #BBFE63;
}

button {
    position: absolute;
    left: 46%;
    top: 41%;
    font: 40px 'Blackadder ITC';
    color: green;
    background: none;
    border: none;
    outline: none;
}
.exit {
    margin-top: 50px;
}